@model Write.io.Models.BlogViewModel
@{
    ViewBag.Title = Model.Blog.Title;
    ViewBag.Model = Model;
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
    ViewBag.Archive = Model.PostArchive;
}

<div class="BlogContainer">
    <div id="BlogPostsContainer" class="PostsContainer">
        @Html.Partial("_BlogPostListPartial", Model.Posts)
    </div>
    <div class="BlogSiderbarContainer">
        @Html.Partial("_BlogSidebar", Model.User)
    </div>
</div>

