@model List<Write.io.Models.Post>

<div class="PostListContainer">
    @foreach (var post in Model)
    {
        var date = post.Created;
        <div class="PostListItem">
            <div class="PostListHeader">
                <div class="PostListHeaderTitle">
                    @post.Title
                </div>
                <div class="PostListHeaderDate">
                    <div class="HeaderDate">
                        16
                    </div>
                    <div class="HeaderMonth">
                        Jan
                    </div>
                    <div class="HeaderYear">
                        2017
                    </div>
                </div>
            </div>
            <div class="PostListSubheader">
                @post.Blog.User.Nickname | 
            </div>
            <div class="PostListBody">
                @post.Body
            </div>
            <div class="Divider"></div>
        </div>
    }
</div>
