:root {
    --primary-bg-color: steelblue;
    --primary-color: #78c8f6;
}

/* Blog styling */

.BlogHeaderContainer {
    display: flex;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    height: 260px;
    background-color: rgba(255, 255, 255, 0.4);
}

#BlogHeaderImage {
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -10px;
    width: 110%;
    height: 110%;
    filter: blur(4px);
    background: no-repeat;
    background-size: cover;
}

.BlogHeader {
    display: flex;
    flex: 1;
    margin-top: 150px;
    background-color: var(--primary-bg-color);
}

.HeaderLeft {
    display: flex;
    padding: 18px;
    background-color: steelblue;
}

.HeaderRight {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    background-color: var(--primary-bg-color);
}

.BlogContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 300px;
}

.PostsContainer {
    background-color: red;
    width: 75%;
}

.BlogSiderbarContainer {
    background-color: bisque;
    width: 250px
}

#BlogSearch {
    width: 200px;
    border-radius: 400px;
    height: 48px;
}

#CreatePost {
    height: 48px;
    background-color: var(--primary-color);
}

.PostListItem {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    margin: 3px 3px 16px 3px;
    height: 150px;
}

.PostListBody {
    display: flex;
}
